.container {
	a {
		color: #777;

		&:hover {
			text-decoration: underline;
		}
	}
}

.bar {
	width: 18rem;
	position: fixed;

	@media screen and (max-width: 800px) {
		position: initial;
		width: 100%;
		margin-top: 8rem;
		margin-bottom: 2rem;
	}
}

.main {
	margin-left: 20rem;
	border: 1px solid #ccc;
	padding: 3rem 2rem;

	line-height: 1.8;

	dt {
		font-size: 2rem;
		color: orange;
		text-align: center;
		margin-bottom: 2rem;
	}

	dd {
		margin-bottom: 3.5rem;

		p {
			text-indent: 2em;
			margin-bottom: 1rem;
		}
	}

	@media screen and (max-width: 800px) {
		margin-left: 0;
		border: 0;
		padding: 0;
	}
}

.footer {
	text-align: center;
	font-size: 1.3rem;
	color: #666;
	font-style: italic;

	@media screen and (max-width: 800px) {
		margin-bottom: 2rem;
	}
}

pre {
	border: 1px solid #ccc;
	padding-right: 4rem;
}

.code-block {
	padding: 1rem 2.6rem;
	border: 1px solid #ccc;
	margin-bottom: .8rem;
	white-space: pre-wrap;
	display: block;
}

q {
	border: 1px dashed #ccc;
	font-size: 0.8em;
	padding: 3px .3rem;
}

.table {
	width: 100%;
	text-align: center;

	th, td {
		border: 1px solid #ccc;
		padding: .5rem;

		p {
			margin-bottom: 0;
		}
	}
}